// Typography
$sans-serif: "Roboto", sans-serif;

// Colors
$white-0: #fff;
$white-1: #f8fafc;

$black-0: #000;
$black-1: #202025;
$black-2: #404045;


$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
