body {
  padding-bottom: 64px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #404045;
}

h1 {
  max-width: 17em;
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1rem;
  width: 100%;
}

p {
  line-height: 1.7;
  margin-bottom: 1rem;
  max-width: 34em;
  text-align: center;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  background: #f8fafc;
  font-size: 18px;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

header img {
  width: 50%;
}

.header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 2em;
  border-bottom: solid 2px #eee;
}

.header h1 {
  margin: 0;
  margin-left: auto;
  text-align: right;
}

.header img {
  width: 48px;
}

.illustration {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.container {
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5 0px;
}

.container.margin-top {
  margin-top: 50px;
}

.container h2 {
  border-left: solid 5px #f6993f;
  padding: 0.25em 0;
  padding-left: 0.5em;
}

.argent {
  font-weight: bold;
  color: #38c172;
}

a {
  color: inherit;
}

button {
  background: none;
  border: none;
}

.text_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.text_btn .btn {
  margin: 0;
}

.btn {
  background: #f6993f;
  color: #f8fafc;
  border-radius: 100px;
  padding: 0.75em 1.5em;
  font-size: 100%;
  font-weight: 500;
  margin: auto;
  margin-bottom: 1rem;
  transition: 195ms ease-in;
}

.btn.white {
  background: transparent;
  border: solid 2px #f6993f;
  color: #f6993f;
  padding: calc(0.75em - 2px) 1.5em;
}

.btn:hover,
.btn:focus {
  background: #f6993f;
  color: #f8fafc;
  transition: 225ms ease-out;
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
}

hr {
  display: block;
  max-width: 20em;
  width: 100%;
  border: solid 1px #f6993f;
  margin-top: 1em;
}

h2 {
  font-size: 1.2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 0.5em;
}

.form input {
  font-size: 100%;
  margin: auto;
  padding: 0.75em 1.5em;
  border: 0;
  border-bottom: solid 2px #f6993f;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1.5em;
}

.comptes {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
}

.comptes li {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1rem;
  width: 100%;
}

.comptes .infos {
  display: flex;
  justify-content: space-between;
}

.comptes .numero {
  display: block;
  color: #bbb;
}

.graphiques {
  width: 100%;
}

.repere {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.rec {
  height: 80px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  z-index: 2;
  border-right: solid 1px #bbb;
}

.rec.first {
  color: #fff;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.rec.first:before {
  content: "";
  z-index: -1;
  background: #3490dc;
  width: 88%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.rec.second:before {
  content: "";
  z-index: -1;
  background: #38c172;
  width: 12%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.djingo {
  z-index: 10000;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 2rem;
  margin: 60px 20px;
  border-radius: 100% 100%;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  color: white;
  background-color: #f6993f;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #f6993f;
  box-shadow: 0 -2px 1em rgba(0, 0, 0, 0.15);
  width: 100%;
}

.navigation ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navigation ul li {
  font-weight: 600;
}

.navigation ul li .nav-btn {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0.25em 0.5em;
}

.navigation ul li .nav-btn img {
  width: 32px;
  box-sizing: content-box;
  margin-bottom: 0.25em;
}

.navigation ul li .nav-btn span {
  font-size: 12px;
  text-transform: uppercase;
}

